<html>
<head>
<title></title>
</head>
<body>
<form action="/signup" method="post">
    用户名:<input type="text" name="uname"><p>
    Email:<input type="text" name="uemail"><p>
    密码:<input type="password" name="upwd"><p>
    <input type="submit" value="注册">
</form>
</body>
</html>